/*
  ObsiFight's website
*/
@import url('https://fonts.googleapis.com/css?family=Lato:300,400');


/* ====
  GLOBAL
======= */
::selection {
  background: #A94545;
}
body {
  font-family: 'Lato', sans-serif;
}
.page-content {
  margin-top: 20px;
  margin-bottom: 20px;
}

.text-center {
  text-align: center;
}

/* ====
  HEADER
======= */
.site-header {
  background: url('../img/head.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;

  padding: 10px;
  padding-top: 1px;
  height: 380px;

  border-bottom: 3px solid #A94545;
}

.site-header h2.ui.header {
  color: #fff;
  font-weight: 300;
  font-size: 30px;

  margin-top: 70px;
  margin-left: 30px;
  margin-bottom: 40px;
}

.site-header h2.ui.header p {
  font-size: 18px;

  margin-left: 65px;
}

/* ====
  NAV
======= */
.ui.menu.navbar {
  margin: 10px;
  padding: 8px;
}
.ui.menu.navbar .logo {
  padding: 0;
}

/* ====
  BLOCKS/CONTENT
======= */

.parallax-block .header {
  color: #fff;
}

.parallax-block .huge.header {
  font-size: 50px;
}
.parallax-block .huge.header .sub-header {
  font-weight: 300;
  font-size: 20px;
}

.parallax-block {
  background-image: url('../img/parallax-1.png');
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;

  padding: 40px;

  color: #fff;
}

/* ====
  FOOTER
======= */
footer {
  margin-top: 50px;
}

.footer.segment {
  padding: 5em 0em;
}
